.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  background: #118088;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
}

.button:hover {
  background: #09b1c7;
}
