.containerContact {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(40, 181, 185);
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgb(237, 243, 248);
  box-shadow: 0px 0px 2px 2px rgb(252, 249, 249);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.button {
  background-color: rgb(41, 206, 206);
  color: rgb(1, 14, 14);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.buttonEdit {
  background-color: rgb(41, 206, 206);
  color: rgb(1, 14, 14);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #d32f2f;
  color: black;
}

.buttonEdit:hover {
  background-color: rgb(35, 148, 133);
}
.icon {
  margin-right: 5px;
  padding-top: 2px;
  margin-bottom: -1px;
}
.buttonCase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .containerContact {
    display: block;
  }

  .info {
    align-items: center;
  }
  .button {
    padding: 6px 10px;
    font-weight: 400;
  }

  .buttonEdit {
    padding: 6px 10px;
    font-weight: 400;
  }
}
