.nav {
  position: absolute;
  top: 32px;
  right: 20px;
  z-index: 1000;
}

.list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 3px 3px 3px #ebe5e5;
}
.link:hover {
  color: #a1d8d4;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    position: static;
    margin-top: 20px;
    text-align: center;
    padding: 20px 40px 20px 40px;
    background-color: rgb(41, 206, 206);
    border-radius: 12px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 2px 2px 4px 4px rgb(252, 249, 249);
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .link {
    font-size: 20px;
    color: #37a099;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #0c0c0c;
  }
}
